.mi-navbar-left {
    float: left;
}

.mi-navbar-right {
    float: right;
}

.imagen {
    width:100%;
    height:100%;
}

/*
.navbar-header {
    text-align: center;
    width: 100%;
}

.navbar-brand {float:none;}
*/


body { padding-top: 70px; }

footer { padding-top: 15px; }

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

/*
 * Texto
 */

.resumen {
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;

    /*
    border: 1px solid #000000;
    white-space: nowrap;
    overflow: hidden;
    */
}

p.subtitulo {
    font-size: large;
    color: #787878;
}

p.fecha {
    font-size: small;
    color: #B0B0B0;
}

p {
    font-size: large;
}

img.miniatura {
    float: left;
    margin-right: 10px;
}

.item {
    clear: left;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
}

.moreItem {
    float: left;
    display: inline-block;
}

/*
 *  Formularios
 */

#tabs {
    margin-bottom: 20px;
}

#menus {
    margin-bottom: 20px;
    margin-top: 20px;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
	font-size: 1.2em !important;
	font-weight: bold !important;
	text-align: left !important;
	width:auto;
	padding:0 10px;
	border-bottom:none;
}